{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "strict": ["off"],
    "indent": ["error", 4, { "SwitchCase": 1 }],
    "consistent-return": "warn",
    "arrow-body-style": "warn",
    "max-len": ["warn", { "ignoreTrailingComments": true, "code": 100, "comments": 80 }],
    "no-unused-vars": "warn",
    "no-use-before-define": "warn",
    "no-underscore-dangle": ["off"],
    "import/no-extraneous-dependencies": "warn",
    "import/prefer-default-export": "off",
    "react/jsx-indent": ["error", 4],
    "react/jsx-indent-props": ["error", 4],
    "react/jsx-filename-extension": "off",
    "react/forbid-prop-types": [2, {"forbid": ["any"]}],
    "arrow-parens": "off",
    "no-mixed-operators": "warn",
     "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore"
    }],
    "react/require-default-props": "off",
    "no-console": "off"
  },
  "parser": "babel-eslint"
}
